<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header-nav-container">
        <div class="header">HisabKitab</div>
        
        <!-- Navigation Links -->
        <div class="nav">
            <a href="/">Home</a>
        </div>
    </div>
    <h3> Hisab of <%= filename%></h3><br>
    <p><%= data %></p>
</body>
</html>